<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Разглагольствования Димы (блог)">
    <meta name="author" content="Дима">

    <link rel="stylesheet" href="/public/font/IBM_Plex_Sans/styles.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/layout.css">
    <link rel="stylesheet" href="/public/css/dark-mode.css">
    <link rel="stylesheet" href="/public/css/hljs-atom-one-light.min.css">
    <link rel="icon" href="/public/favicon.png">
    <title>Дима / разглагольствования</title>
</head>
<body>
    <header>
        <% const imgNumber = Math.floor(Math.random() * 21) + 1; %>

        <% if (req.path === '/') { %>
            <img id="logo" src="/public/logo/logo-<%= imgNumber %>-min.png" height="120">
        <% } else { %>
            <a href="/">
                <img src="/public/logo/logo-<%= imgNumber %>-min.png" height="120">
            </a>
        <% } %>

        <form action="/search" method="get" class = "search">
            <input type="search" name="q" placeholder="Поиск..." value="<%= query %>">
            <button type="submit"style="filter: grayscale()">🔍</button>
        </form>

    </header>
    <main>
        <%- include('pagination', { page, pageNumbers }) %>
        <%- include('index') %>
        <%- include('pagination', { page, pageNumbers }) %>
    </main>
    <footer>
        <div>
            <input type="checkbox" id="darkModeCheckbox">
            <label for="darkModeCheckbox">Тёмная тема</label>
        </div>
        <p>© 2003 — 3023 Дима. Все права поражены.</p>    
        <p>Политика транцендентальности&nbsp;&nbsp; О вас</p>
    </footer>
</body>

<script>
// поменять лого
const logoImage = document.getElementById("logo");
logoImage.addEventListener("click", () => {
    logoImage.src = `/public/logo/logo-${Math.floor(Math.random() * 21) + 1}-min.png`;
});
</script>

<script src = "/public/js/dark-mode.js" defer></script>
</html>